# Dependencias
/node_modules

# Archivo de variables de entorno
.env

# Archivos de logs
logs
*.log
npm-debug.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos del editor
.vscode/
.idea/